
  .Login_page{
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 770px;
  }
  .Login{
  background-color: #F6F6F6;
    
    width: 668px;
  height: 768px;
  
    }
    .logo_img{

top: 100px;
left: 100px;
border-radius: 10px;

    }
    .signinto{
      
      font-weight: 700;
      font-size: 62px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;

    }
    
    .login_form h2{
      
font-weight: 700;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

    }
  .logo_img{
    margin-top: 100px;
    margin-left: 100px;
  }
  .login_form{
    margin-left: 100px;
  }
  .login_form h1{
    font-size: 62px;
    margin-bottom: 40px;
    margin-top: 60px;
  }
  .login_form h2{
    margin-top: -20px;
    font-size: 30px;
  }
  .checkbox{
    margin-top: 20px;
  }
  
  .input_group {
    position: relative;
    display: flex;
    align-items: center;
    border:  #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 30px;
  }
  
  .input_group input {
    width: 430px;
    padding: 10px 10px 10px 40px; 
    border: none;
    outline: none;
    padding-top: 15px;
    /* margin-left: 20px; */
    font-size: 20px;
    padding-left: 65px;
    font-family: Poppins;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

  }
  
  .input_icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
  }
  .log_sign_btn{
    border: none;
    background-color: #E9374A;
    color: white;
    font-weight: 700;
    padding: 5px 170px 5px 170px;
    font-size: 20px;
    margin-top: 40px;
    width: 440px;
   
  }
  @media (max-width: 600px) {

    .Login{
      background-color: #F6F6F6;
      width: 100%;
      height: 100%;
      display:block;
    
      }
    .login_img{
      display: none;
    }
    .Login{
      width: 900px;
    }
    .login_form{
      margin-left: 50px;
    }
    .signinto{
      
      font-weight: 700;
      font-size: 62px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;

    }
    
    .login_form h2{
      
font-weight: 700;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

    }
    .logo_img{
      margin-top: 50px;
      margin-left: 50px;
    }
    
  .input_group {
    position: relative;
    display: flex;
    align-items: center;
    border:  #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 30px;
    width: 427px;
    height: 38px;


  }
  
  .input_group input {
    width: 200px;
    padding: 10px 10px 10px 40px; 
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
    padding-left: 65px;
  }
  
  .input_icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
  }
  .log_sign_btn{
    border: none;
    background-color: red;
    color: white;
    font-weight: 700;
    padding: 12px 100px 12px 100px;
    font-size: 20px;
    margin-top: 40px;
  }
    
  }