.sidebar{
max-width: 500px;
height: 100%;
padding-top: 20px;
padding-bottom: 272px;
gap: 39px;
background-color: #F6F6F6;
display: inline-block;
margin: 0;
}

.sidebar h1{
    margin: 0;
    padding: 0;
}
.sidebar li{
list-style: none;
display: flex;
margin-top: 20px;
margin-right: 10px;
}
.sidebar li img{
    width: 24;
height: 24;
}
.sidebar ul{
    margin-top: 50px;
}
.sidebar h3{
    margin-top: 50px;
    margin-left: 20px;
}
.sidebar div{
    margin-top: 15px;
    
    /* font-weight: 900;
    font-size: 20px; */
}
.sidebar img{
    margin-right: 5px;
    padding-top: 10px;
    width: 30px;
}
.ul li:hover{
    color: red;

}

@media (max-width: 700px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        position: absolute;
    }
}
