.App{
  max-width: 1440px;
  display: flex;
}
.body{
   display: "flex";
   max-width: 1440px;
}
.body div{
  margin-left: 10px;
}
@media (max-width:"700px"){
  .body{
    max-width: 500px;
    flex-wrap: wrap;
  }
  .fulldb{
    max-width: 500px;
    flex-wrap: wrap;
  }
}